setuptools
pyaudio
SpeechRecognition
certifi
charset-normalizer
cmake
colorama
fbgemm-gpu
filelock
fsspec
idna
intel-openmp
iopath
jinja2
lightning-utilities
lit
markupsafe
mkl
mpmath
mypy-extensions
networkx
numpy
nvidia-nccl-cu12
packaging
pillow
portalocker
pyre-extensions
pytorch-triton
pytorch-triton-rocm
requests
setuptools
sympy
tbb
torch
torch-cuda80
torch-model-archiver
torch-tb-profiler
torchaudio
torchcsprng
torchdata
torchdistx
torchmetrics
torchrec
torchrec-cpu
torchserve
torchtext
torchvision
tqdm
triton
typing-extensions
typing-inspect
urllib3
torch
numpy
openai-whisper